.page-header
  %h1= t('.title')
= render 'dashboard/admin_terminals', checks:@reserved_checks, header: t('view.reserved_terminals')
= render 'dashboard/admin_terminals', checks:@ready_checks, header: t('view.ready_terminals')
= render 'dashboard/admin_terminals', checks:@unavailable_checks, header: t('view.unavailable_terminals')
