%h2
  =t('view.devise_reset_password')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions.col-sm-offset-2
    = f.button :submit, t('view.devise_reset_password')
