= simple_form_for @screen_width, :html => { :class => 'form-horizontal' } do |f|
  = f.input :size
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), screen_widths_path, :class => 'btn btn-default'
