/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */

.center-horizontal {
  text-align: center;
  margin: 5px auto;
}

.form-control-inline {
  display: inline;
  width: auto;
}

.container .page-header {
  padding-bottom: 3px;
  margin: 20px 0px 10px;
  border-bottom: 1px solid #EEE;
}

.page-header h1{
  font-size: 24px;
}

.header h2{
  font-size: 18px;
  border-left: 7px solid #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 4px 6px;
}

.header h3{
  font-size: 16px;
  border-bottom: 2px dashed #CCC;
  padding :4px 6px;
  margin: 10px 0
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.flow {
  padding :4px 6px;
  margin: 10px 0
}

table.table thead tr,
table.table tbody tr {
  th, td {
    text-align: center;
    vertical-align: middle;
  }
}

a.btn-success:visited,
a.btn-primary:visited,
a.btn-info:visited,
a.btn-warning:visited,
a.btn-danger:visited {
  color: #fff;
}

div.btn,
p.btn {
  cursor: default;
}

.highlight-inner {
  margin: 10px
}
