%p
  #{@resource.email} さん
%p パスワード再設定リクエストを受付けました。以下のリンクから新しいパスワードを設定してください。
%p= link_to 'パスワード再設定ページ', edit_password_url(@resource, reset_password_token: @token)
%p このメールに心当たりがない場合は、お手数ですがこのメールを削除してください。
%p 上記のリンクから処理を行わなければパスワードは変更されません。
